<div class="mastfoot">
<<<<<<< HEAD
  <div class="inner">
    <p><%= copyright_generator %></p>
  </div>
</div>
=======
	<div class="inner">
<<<<<<< HEAD
		<p><%= copyright_generator %></p>
       </div>
     </div>
>>>>>>> design
=======
		<p class="app_footer"><%= copyright_generator %></p>
  </div>
</div>
>>>>>>> 114e61ea26d983b170277e1eb37e74cd3c16f1b6
