<div class="blog-header">
	<div class="container">
    <h1 class="blog-title">Blogs</h1>
    <p class="lead blog-description">This is my blog section, either Blogs I've written myself or certain ones I believe are useful to me and others in the coding industry. If you have any suggestions please <a href="/contact" "email me">contact me.</a></p>
    <%= link_to 'New Post', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>