<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Kemry Riggins Blog <em>Information</em> | 
    These are blogs about the tech industry, and certain applications I'll be creating in the future. Some blogs will not be my own but will be sourced to the direct link. This is manily a section of the best articles and news on the tech industry and things I believe I can go back and reference as well as others.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
    
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <a href="https://github.com/kemryriggins" class="icon-button github"><i class="icon-github"></i><span></span></a>
      <a href="https://twitter.com/kemryr_tech" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
      <a href="https://www.instagram.com/kemryriggins/" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a>
    </ol>
  </div>
</div>