<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>2912 Executive Pkwy #220, Lehi, UT 84043</p>


    <p><%= number_to_phone "8016645271" %></p>

    <h3>Email</h3>

    <p><a href="mailto:98kariggins@gmail.com" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.1423838701717!2d-111.89820804922203!3d40.427845979262464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8554c917de07%3A0x865ac5eda44125a!2sBottega!5e0!3m2!1sen!2sus!4v1514321962869" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>