<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Take a Look at my first website, this is where I will be displaying all of my applications and websites created in the future. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>